@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/gray.css";

/* Define Custom Test Colors */
:root {
  --test-gray-light: var(--gray-3);
  --test-gray: var(--gray-6);
  --test-gray-dark: var(--gray-10);
}
